html {
    padding: 30px 10px;
    font-size: 20px;
    line-height: 1.4;
    color: #737373;
    background: #f0f0f0;
}

h1 {
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
	padding-top: 20px;
	margin-bottom: 30px;
}

html,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	max-width: 90%;
    width: 640px;
	height: 960px;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
}

#formBox {
	margin-top: 20px;
    margin-bottom: 30px;
	padding-bottom:20px;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #a3a3a3;
	box-shadow: 0 1px 10px #a0a0a0, inset 0 1px 0 #fff;
}

#map-summary {
	margin-top: 20px;
    margin-bottom: 10px;
	padding-bottom:20px;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #a3a3a3;
	box-shadow: 0 1px 10px #a0a0a0, inset 0 1px 0 #fff;
}

p {
    margin: 1em 0;
}

#pageTitle{
	color:#ffffff;
	text-shadow: 1px #7c7c7c;
}

.container {
    max-width: 380px;
    width: 380px;
    margin: 0 auto;
}
#map-canvas{
    display: none;
    height: 400px;
}
.hidden{
    display: none;
}