html {
    padding: 30px 10px;
    font-size: 20px;
    line-height: 1.4;
    color: #737373;;
    background: #f0f0f0
}


html,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	max-width: 90%;
    width: 640px;
	height: 960px;
	max-height: 90%;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

h1 {
	font-size: 50px;
    text-align: center;
	color: #ffffff;
	float:left;
	display: inline-block;
	background-color: #405a6a;
	background-image: linear-gradient(#829aa8, #405a6a);
	background-repeat: repeat-x;
	border: 1px solid #677c89;
	border-bottom-color: #6b808d;
	margin: 0px;
	width:640px !important;
	padding: 8px 10px;
}

p {
    margin: 1em 0;
}

#pageTitle{
	color:#ffffff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.7);
}

.container {
    max-width: 380px;
    width: 380px;
    margin: 0 auto;
}
#map-canvas{
    height: 100%;
}
.hidden{
    display: none;
}